@import url("//d2v52k3cl9vedd.cloudfront.net/basscss/4.1.7/basscss.min.css");

input[type="file"] {
    display: none;
}
#panel *,  #context * , #label_input * {
    box-shadow: none !important;
}
#context .form-check,
#context .form-check-label, 
#label_input .form-check,
#label_input .form-check-label{
    margin: 0;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: 1px beige solid;
}

#url {
    outline: 1px beige solid;
}

#search_site_form > * {
    min-height: 28px;
    box-shadow: 2px 2px;
}

div#context ul, div#label_input ul {
    box-shadow: none !important;
    list-style-position: outside;
    list-style-type: none !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div#label_input_header, div#context_header {
    background-color: #2196F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    padding: 8px;
    position: relative;
    z-index: 10;
    font-size: 14px !important;
    font-weight: 400 !important;
}
div#label_input_body, div#context_body{
    background: #f1f1f1 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top: 0 !important;
    border: 2px solid #2196F3 !important;
    padding: 6px 7px !important;
}
div#label_input_body .add_mode{
    margin-left: 0;
}
div#context span.close-btn_, div#label_input span.close-btn_ {
    position: absolute;
    right: 7px;
    top: -3px;
    font-size: 24px;
    cursor: pointer;
}

div#context li, div#label_input li {
    list-style: none;
    box-shadow: 0 0 0 0 #800;
    margin-bottom: -7px;
}

div#context li label, div#label_input li label,
div#context li label input, div#label_input li label input {
    display: block;
}

#id_selector_text,
div#context li label input, 
div#label_input li label input {
    text-align: center !important;
    width: 100% !important;
    padding: 0 5px !important;
    height: 32px !important;
    line-height: 1 !important;
    margin: 0 0 .6rem 0 !important;
    font-size: 14px;
    border-radius: 5px !important;
}

#id_selector_text{
    margin: .5rem 0 0 0 !important
}
div#label_input li a:hover {
    box-shadow: 250px 0 0 0 #FF7A62 inset;
}

div#context, div#label_input {
    width: 240px;
    position: absolute;
    z-index: 999999;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {}

/*______for aliging placeholder to center______*/

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}



/*______for selecting/unselecting elements_______*/
.option-selected,
.option-selected:hover {
    /*border: 3px solid #529c56 !important;*/
    box-shadow: 0px 0px 0px 3px #529c56 inset !important;
    cursor: default;
}

.hover-selected{
    /*border: 1px solid #e42a78 !important;*/
    box-shadow: 0px 0px 0px 1px #e42a78 inset !important;
    /*outline: 1px solid orange;*/
}

/*______for textarea _______*/
#label_input textarea {
    width: 100% !important;
    min-height: 50px !important;
    background-color: lightgray !important;
    color: #323232 !important;
    font-size: 14px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    transition: box-shadow .2s ease !important;
    padding: 3px 5px !important;
    box-sizing: border-box !important;
    line-height: 1.25 !important;
    font-weight: normal;
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
}
#advance_code_input_text{
    display: none;
}
#label_input .label_input {
    background-color: lavender !important;
    font-weight: normal !important;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

#label_input input[type=button], #context input[type=button],
#panel input[type=button]{    
    box-sizing:border-box !important;
    cursor:pointer !important;
    background-color:#e31837 !important;
    border: 1px solid #e31837 !important;
    color:#fff !important;
    display:inline-block !important;
    letter-spacing:.2px !important;
    text-decoration:none !important;
    font-family:brandon-grotesque,Arial,sans-serif;font-weight:700 !important;
}
#panel input[type=button]{
    width: 100%;
    padding: 5px;
}
#panel #select_id{
    margin-bottom: 0 !important;
}
#panel #done_config:disabled{
    opacity: .5;
    cursor: default !important; 
}

/*______for screen loader at amalysis page _______*/

.loader_analyze {
    border: 16px solid #fa6400 !important; 
    border-top: 16px solid #f42121 !important; 
    border-radius: 50% !important;
    width: 160px !important;
    height: 160px !important;
    animation: spin 2s linear infinite !important;
    top: 50% !important;
    left: 50% !important;
    position: fixed !important;
    z-index: 99999;
}

.loader_index {
    border: 16px solid #3c763d !important; 
    border-top: 16px solid #060606 !important; 
    border-radius: 50% !important;
    width: 160px !important;
    height: 160px !important;
    animation: spin 2s linear infinite !important;
    top: 45% !important;
    left: 45% !important;
    position: fixed !important;
    z-index: 99999;
}

#rtech_overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 99997; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

#panel {
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    top:20px;
    left: 0;
    width: 250px;
    z-index: 9999999999;
    /*display: none;*/
}
#panel table {
    font-size: 12px;
    width: 100%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    table-layout: fixed;
    margin: 0 !important;
    padding: 0 !important;
}
#panel table th, #panel table td{
    padding: 1px 3px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
#panel-table-thead tr th:first-child{ width: 15px; }
#panel-table-thead tr th:nth-child(2){ width: 80px; }
#panelheader {
    padding: 8px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#panelbody, #panelfooter{
    padding: 7px;
    border: 1px solid #d3d3d3 !important;
    border-top: 0 !important;
}
#panelfooter {
    display: none;
    max-height: 500px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#panel .closebtn,
#panel #selection_completed {
    float: none !important;
    color: #FF0000;
    margin-left: 0;
    margin-right: 0;
    line-height: 14px;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
}
#panelheader span {
    background: url('mouse-move.png');
    height: 25px;
    width: 25px;
    display: inline-block;
    background-size: 25px;
    position: absolute;
    right: 7px;
    top: 7px;
}
#panelmm,
#panel .closebtn,
.alert-dismissable .close,
.alert-dismissible .close{
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}
#panelheader:hover #panelmm{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.msg-panel {
    position: fixed;
    z-index: 99999999999999;
    top: 50px;
    right: 7px;
    width: 39%;
}
.msg-panel strong{
    font-weight: 700;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#panel,
#panel *,
.msg-panel,
.msg-panel *,
.help-block,
.help-block *,
#tag_info_block,
#tag_info_block *{
    box-shadow: none !important;
}
.highlight-rec{
    background-color: yellow;
}

/* bootstrap style codes*/
.alert {
    padding: 7.5px 15px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    color: inherit;
    float: right;
    font-size: 28px;
    top: -14px;
    text-decoration: none;
}
#help-btn{
    padding: 0 0 .5em 0;
}
.help-block .modal {
    display: block;
    position: fixed;
    z-index: 1000000000000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.help-block .modal-content {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.help-block .close-help-modal{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 15px;
}
.help-block .close-help-modal:hover,
.help-block .close-help-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.help-block .modal-header h3{
    padding: 0;
    margin: 0;
}
.help-block .modal-header {
    padding: 16px;
    background-color: #2196F3;
    color: white;
}
.help-block .modal-body { padding: 20px; }
.help-block ul li{ list-style: circle; }

.advance-mode {
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
/*#tag_info_block{
    position: fixed;
    z-index: 99999999999;
    top: 8px;
    right: 7px;
    width: 100%;
    font-size: 11px;
    text-align: right;
    letter-spacing: .3px;
    display: none;
}*/
#tag_info_block {
    position: fixed;
    z-index: 99999999999;
    top: 93.5vh;
    left: 7px;
    font-size: 12px;
    text-align: left;
    letter-spacing: .3px;
    display: none;
    width: calc(100% - 14px);
}
#tag_info_block #tag_info {
    background: #444;
    padding: 5px 10px;
    color: white;
    border: 2px solid #444;
    border-right: 0;
    display: inline-block;
}
#tag_info_block #tag_info ._tag,
#tag_info_block #tag_info_p ._tag{
    color: #DA7DFD;
}

#tag_info_block #tag_info ._class,
#tag_info_block #tag_info_p ._class{
    color: #53ACE0;
}

#tag_info_block #tag_info ._id,
#tag_info_block #tag_info_p ._id{
    color: #7AC04B;
}

#tag_info_block #tag_info_p {
    background: #000;
    padding: 10px;
    color: white;
    border: 2px solid #000;
    border-left: 0;
}
#tag_info_block .tag_info_spliter {
    margin: 0 10px;
    font-weight: bold;
    letter-spacing: -1px;
}