table tbody{
	word-wrap: break-word;
    word-break: break-all;
}
#label-file-upload, #fileResponseContainer{
    display: none;
}
.textInputUrls{
    width: 100%;
    resize: none;
}
.fileUpload{
    display: none !important;
    /*width: 100%;
    text-align: center;*/
}
.fileUploadLabel{
    cursor: pointer;
    font-size: 15px;
}
.orDivderHr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.orDivder {
    position: absolute;
    width: 25px;
    background-color: white;
    margin-top: -51px;
    margin-left: -13px;
}
.progress-bar {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}
.progress-bar-popup {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.progress-bar-popup img {
    vertical-align: middle;
    max-width: 100%;
}
.capitalised th {
    text-transform: capitalize;
}

/* css for error msg*/
.success{
    color: #fff !important;
    background-color: #00a65a !important;
}
.error{
    color: #fff !important;
    background-color: #dd4b39 !important;
}

/* css for error msg*/
