/* over the layout of AdminLTE */
.main-sidebar,
.main-header .logo {
    width: 275px;
}
.main-header .navbar,
.content-wrapper, .main-footer {
    margin-left: 275px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: normal;
}
.skin-blue .sidebar-menu > li.header {
    color: white;
    background: #1a2226;
    font-size: 14px;
}
.wrapper {
    height: 100vh !important;
    min-height: 100vh !important;
}
.content {
    min-height: 250px;
    padding: 0 15px 0 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}
/* over the layout of AdminLTE */
table tbody{
	word-wrap: break-word;
    word-break: break-all;
}
.invalid-properties{
    display: none;
}
.page-loading .page-loader {
    /*display: block;
    background-image: url('https://i.gifer.com/Qgyn.gif');
    height: calc(100vh - 90px);
    background-repeat: no-repeat;
    background-position: center;*/

    display: block;
    background-image: url('waiting.gif');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    z-index: 999999999999999;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
.box-body-loader,
#property_builder_advance_code{
    display: none;
}
.page-loading .box-body-container{
    opacity: 0;
    visibility: hidden;
}
.highlight-rec{
    background-color: yellow;
    color: black;
}
.config-page {
    border: 0;
    width: 100%;
    height: calc(100vh - 5px);
}
.mb-0{ margin-bottom: 0 !important; }
.mr-10{ margin-right: 10px !important; }
.w-100{ width: 100% !important; }
.hover-selected{
    color: red !important;
}
.sidebar-menu > li.menu_ {
    margin: 0 5px 8px 5px;
    background-color: #ddd !important;
    border: 1px solid;
    border-radius: 3px;
}
.sidebar-menu > li.menu_ > span {
    padding: 7px 4px;
    display: block;
    color: black;
    cursor: pointer;
    border-radius: 2px;
}
.skin-blue .sidebar-menu > li.m_2_2{
    border: 0;
    border-top: 1px solid #FFF;
}
.default-cursor{
    cursor: default !important;
}
.skin-blue .sidebar-menu > li.m_1 span{
    border-left: 4px solid #008d4c;
}
.skin-blue .sidebar-menu > li.m_2 span{
    border-left: 4px solid #00c0ef;
}
.skin-blue .sidebar-menu > li.m_3 span{
    border-left: 4px solid #d73925;
}
.skin-blue .sidebar-menu > li.m_1:hover > span, .skin-blue .sidebar-menu > li.active > span, .skin-blue .sidebar-menu > li.menu-open > span {
    color: #FFF;
    background-color: #008d4c;
}
.skin-blue .sidebar-menu > li.m_2:hover > span, .skin-blue .sidebar-menu > li.active > span, .skin-blue .sidebar-menu > li.menu-open > span {
    color: #FFF;
    background-color: #00c0ef;
}
.skin-blue .sidebar-menu > li.m_3:hover > span, .skin-blue .sidebar-menu > li.active > span, .skin-blue .sidebar-menu > li.menu-open > span {
    color: #FFF;
    background-color: #d73925;
}
.sidebar-menu > li.table_ #panel_table {
    color: white;
    margin: 0;
    width: 100%;
}
.panel-table-div {
    margin: 12px 5px 12px 5px;
    display: none;
}
.panel-table-body-div{
    max-height: calc(100vh - 380px);
    overflow-x: auto;
}
.panel-table-div .table-headers_ {
    margin-bottom: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.del_prop_btn_c{
    position: relative;
}
.del_prop_btn, #del_all_prop_btn{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
    left: 4px;
    cursor: pointer;
    font-size: 24px !important;
    line-height: 14px !important;
}
.del_invalid_prop_btn, #del_all_invalid_prop_btn {
    height: 15px;
    width: 15px;
    cursor: pointer;
    font-size: 24px !important;
    line-height: 14px !important;
}
#panel_table_thead{ color: white;background-color: rgb(210, 214, 222,.3); }
#panel_table_thead tr td:first-child{ width: 25px; padding: 0; position: relative; }
#panel_table_thead tr td:nth-child(2){ width: 80px; }
#panel_table_thead tr td:nth-child(3){ width: 158px; }

#selected_props_list_tbody tr td:first-child{ width: 25px; padding: 0 ; position: relative;}
#selected_props_list_tbody tr td:nth-child(2){ width: 80px; }
#selected_props_list_tbody tr td:nth-child(3){ width: 158px; }

/* invalid-records-tbl title */
.panel-title_{ 
    color: red !important; 
}
.sidebar-menu > li.menu_ .label_ ,
.advance-mode { 
    margin: 0; 
    font-weight: normal; 
    position: relative; 
    cursor: pointer;
    font-size: 14px;
}
.sidebar-menu > li.menu_ .label_ div,
.advance-mode div{ 
    margin-left: 30px; 
}
.sidebar-menu > li.menu_ .label_ #puppeteer_enabled ,
.advance-mode .add_mode{
    height: 22px;
    width: 22px;
    padding: 0;
    position: absolute;
    margin: 0;
}

.msg-panel {
    position: fixed;
    z-index: 99999999999999;
    top: 50px;
    right: 7px;
    width: 39%;
    box-shadow: none !important;
}
.msg-panel strong{
    font-weight: 700;
}

/*#tag_info_block{
    position: fixed;
    z-index: 99999999999;
    top: 8px;
    right: 7px;
    width: 100%;
    font-size: 11px;
    text-align: right;
    letter-spacing: .3px;
    display: none;
}*/
#tag_info_block {
    position: fixed;
    z-index: 99999999999;
    top: 93.5vh;
    left: 7px;
    font-size: 12px;
    text-align: left;
    letter-spacing: .3px;
    display: none;
    width: calc(100% - 14px);
}
#tag_info_block #tag_info {
    background: #444;
    padding: 5px 10px;
    color: white;
    border: 2px solid #444;
    border-right: 0;
    display: inline-block;
}
#tag_info_block #tag_info ._tag,
#tag_info_block #tag_info_p ._tag{
    color: #DA7DFD;
}
#tag_info_block #tag_info ._class,
#tag_info_block #tag_info_p ._class{
    color: #53ACE0;
}
#tag_info_block #tag_info ._id,
#tag_info_block #tag_info_p ._id{
    color: #7AC04B;
}
#tag_info_block #tag_info_p {
    background: #000;
    padding: 10px;
    color: white;
    border: 2px solid #000;
    border-left: 0;
}
#tag_info_block .tag_info_spliter {
    margin: 0 10px;
    font-weight: bold;
    letter-spacing: -1px;
}
/* bootstrap style codes*/
.alert {
    padding: 7.5px 15px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 27px !important;
    line-height: 14px !important;
    text-decoration: none;
    color: white;
    font-weight: 100;
    opacity: 1;
}
/*. js confirm */
.jconfirm-buttons .ok-btn{
    width: 100% !important;
    float: none;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: none;
    width: 100%;
    text-align: right;
}
.jconfirm .jconfirm-box .jconfirm-buttons > button {
    margin: 0;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane{
    margin-bottom: 5px;
}
.formName .form-group{
    margin-bottom: 7px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    padding-bottom: 10px;
    font-size: 18px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    padding-bottom: 5px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i {
    vertical-align: top;
    font-size: 18px;
}
/*. js confirm */
#property_builder_text, #property_builder_value, #property_builder_advance_code, #id_selector_ele_key, #id_selector_ele_id{
    border-radius: 5px;
}
#property_builder_text, #property_builder_advance_code, #id_selector_ele_key, #id_selector_ele_id {
    background: rgba(230, 230, 250, .3);
    height: 30px;
    padding: 5px 12px;
    line-height: 1;
}
#property_builder_advance_code, #property_builder_value{
    height: 70px;
    resize: none;
}
.display-none{
    display: none !important;
}